div#meal-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
}

.single-meal{
    background-color: #F8F7F5;
    width: 100%;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.single-meal img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.single-meal h2{
    text-align: center;
}

/* preview */
div#preview-section {
    margin-top: 40px;
}
div#preview-section img {
    border-radius: 10px;
    width: 600px;
}
div#preview-section ul{
    list-style: none;
    padding: 0;
}
i.fa.fa-check-square {
    color: #f06c4e;
}